$color__table-border: #e5e5e5;

$color__custom-action: #ffffff;
$background-color__custom-action: #464b50;
$background-color__custom-action_red: #dd3d36;

$style__slider-table-boder: dashed;


$background-color__danger: #dd3d36;
$background-color__danger-hover: #ac2126;
