.octopus-action-delete {
	position: relative;
	color: $color__custom-action;
	background-color: $background-color__custom-action;
}


.octopus-action-delete {
	float: right;
	padding: 9px 15px;
	background-color: $background-color__custom-action-red;
}
.octopus-action-delete:hover {
	cursor: pointer;
}