.octopus-staff-sidebar {
	.octopus-staff-items {
		text-align: center;
	}
	
	.octopus-staff-item {
	    padding-right: 25px;
    	padding-left: 25px;
	}
	
	.octopus-staff-position {
		min-height: 22px;
	}
}