/* Bootstrap overrides */
.octopus-navbar-default {
	background-color: $color__header-background;
	border-radius: 0;
	border: 0;
	margin-bottom: 0;
	
	.navbar-nav > li > a {
		color: $color_nav;
		-o-transition:.5s;
		-ms-transition:.5s;
		-moz-transition:.5s;
		-webkit-transition:.5s;
		transition:.5s;
	}
	
	.navbar-toggle .icon-bar {
		background-color: $color_nav;
	}
	
	.navbar-nav {
	    > li > a:hover,
	    > li > a:focus {
	    	background-color: transparent;
	    }
	
	    .dropdown-menu {
	    	padding: 0;
    	    border-radius: 0;
	
	    	> li > a {
	    		padding: 10px 15px;
	    	}
		}
	}
	
	.navbar-toggle {
		border: none;
		background: transparent !important;
		box-shadow: none;
		margin-right: 0;
		
		&:hover,
		&:active,
		&:focus {
			background: transparent	!important;
			box-shadow: none;
		}
	
		.icon-bar {
			width: 22px;
			transition: all 0.2s;
		}
	
		.top-bar {
			transform: rotate(45deg);
			transform-origin: 10% 10%;
		}
	
		.middle-bar {
			opacity: 0;
		}
	
		.bottom-bar {
			transform: rotate(-45deg);
			transform-origin: 10% 90%;
		}
	
		&.collapsed { 
			
			.top-bar { 
				transform:rotate(0);
			}
	
			.middle-bar {
				opacity: 1;
			}
	
			.bottom-bar {
				transform: rotate(0);
			}
		}
	}
}
/*  End Bootstrap overrides */

.octopus-scrolling .octopus-navbar-default {
	background-color: $color__header-background-onscroll;
} 

.octopus-navbar-default {
	z-index: 9999;

	.sub-menu .sub-menu {
		left: 50%;
		top: 50%;
	}
	
	.sub-menu.open-left {
		right: 50%;
		left: inherit;
	
		& .sub-menu  {
			right: 50%;
			left: inherit;
		}
	}
	
	.navbar-nav { 
	
		> li > a,
		> li > a:hover,
		> li > a:focus,
		.active > a,
		.active > a:hover,
		.active > a:focus {
			color: $color_nav;
		}
		
		> li > .sub-menu.open-left {
			right: 0px;
			left: inherit;
		}
	}
}

@media (min-width: 768px) {
	.octopus-navbar-default {
		
		.navbar-nav {
			float: none;
			display: inline-block;
		}
		
		.navbar-nav {
		    margin-bottom: -6px;
		    
	    	.menu-item-has-children:hover > .sub-menu{
				display:block;
			    margin-top: -6px;
			}
			
			.octopus-toggle-icon {
				display: none;
			}
			
			> li > a {
				border-bottom: 3px solid transparent;
				font-weight: bold;
				
				&:hover,
				&:focus {
			    	background-color: inherit;
			    	color: $color_nav-active-border;
			    	outline: none;
				}
			}
			
			> .active > a,
		    > .active > a:hover,
		    > .active > a:focus {
				background-color: inherit;
				border-bottom: 3px solid $color_nav-active-border;
		    }
		}
	}
}

@media (max-width: 767px) {
	.octopus-navbar-default .navbar-nav {
		background-color: $color_nav-responsive-background;
		display: block;
		margin: 0px -15px;
		
		&.octopus-navbar-nav {
			> li > a,
		    > .active > a {
		    	color: #777;
		    	border-bottom: 0;
			}
		}
		
		> li > a,
	    > .active > a {
	    	
	    	
	    	border-left: 5px solid transparent;
	    	&:hover,
	    	&:focus {
	    		color: #777;
	    		border-left: 5px solid;
	    	}
	    }
		
		.open .dropdown-menu {
		    padding-left: 15px;
		    display: none;
		    
		    & > li > a,
		    .dropdown-header {
    		    padding: 10px 15px 10px 20px;
		    	margin-left: 0;
		    }
		}
		
		.octopus-toggle-icon {
			float: right;
			margin-left: 5px;
			line-height: 20px;
			font-size: 24px;
		}
	}
}
