.octopus-flex {
	display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox; /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Chrome */
	display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.octopus-decoration-line {
	overflow: hidden;
  	text-align: center;
  	display: block;
  	line-height: .7em;
  	
  	span {
		display: inline-block;
		padding: 0 15px;
		position: relative;
	    font-size: .5em;
	    font-weight: normal;
		    
		&:before,
		&:after { 
			border-top: 1px solid #ddd;
			border-bottom: 1px solid #ddd;
			content: "";
			display: block;
			height: 5px;
			position: absolute;
			top: 50%;
			width: 100%;
		}

		&:before {
			right: 100%;
		}

		&:after {
			left: 100%;
		}
  	}

}

.octopus-background-fullpage {
	background-repeat: no-repeat; 
	background-position: center center;
	-webkit-background-size : cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-webkit-background-size: cover;
}

.octopus-background-fixed {
	background-attachment: fixed;
}

.btn {
	border-radius: 0;
}
a.btn:visited {
	color: #ffffff;
}

@media (min-width:768px) {
    .octopus-row-eq-height-sm {
        display: table;
        
        [class*="col-sm"] {
		    float: none;
		    display: table-cell;
		    vertical-align: middle;
		}
    }
}