.loungeact-cf-container {
	margin-bottom: 1em;
}
.loungeact-menu-options {
	.loungeact-cf-option-button a {
		width: 32%;
		margin-right: 2%;
		float: left;
		text-align: center;
		
		&:last-child {
			margin-right: 0;
		}
	}
	
	input.loungeact-cf-options-val,
	select.loungeact-cf-options-val,
	textarea.loungeact-cf-options-val {
		width: 75%;
	}
	
	textarea.loungeact-cf-options-val {
		vertical-align: middle;
	}
	
	.loungeact-cf-add-font-icon-container .select2-container {
		vertical-align: top;
	}
	
	.loungeact-cf-icon-select2 {
		width: 200px !important;
	}
}

@media screen and (max-width: 782px) {
	.loungeact-menu-options .loungeact-cf-option-button a {
		white-space: normal;
	}
}