.octopus-cf-container {
	margin-top: 1em;
	margin-bottom: 1em;
}
.octopus-cf-field-custom {
	.octopus-cf-option-button a {
		width: 32%;
		margin-right: 2%;
		float: left;
		text-align: center;
		
		&:last-child {
			margin-right: 0;
		}
	}
	
	input.octopus-cf-options-val,
	select.octopus-cf-options-val,
	textarea.octopus-cf-options-val {
		width: 75%;
	}
	
	textarea.octopus-cf-options-val {
		vertical-align: middle;
	}
	
	.octopus-cf-add-font-icon-container .select2-container {
		vertical-align: top;
	}
	
	.octopus-cf-icon-select2 {
		width: 200px !important;
	}
}

@media screen and (max-width: 782px) {
	.octopus-cf-field-custom .octopus-cf-option-button a {
		white-space: normal;
	}
}