.swiper-container {
	height: 100%;
	
	.swiper-slide {
		background-repeat: no-repeat; 
		background-position: center center;
		background-attachment: fixed;
		-webkit-background-size : cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		-webkit-background-size: cover;
	}
	
	.swiper-slide-caption-table {
		display: table; 
		width:100%;
		height: 100%;
	}
	
	.swiper-slide-caption-table-cell {
		display: table-cell;
		vertical-align: middle;
	}
}